extends base

block styles
  link(rel='stylesheet', href='css/pages/index.css')
  link(rel='stylesheet', href='css/pages/dedicatee.css')

block scripts
  script(src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js')
  script(src='js/particles.js')

block content
  .jumbotron#particles-js
    h1 POWER
  main

    #dedicatee.section
      .heading.dedicatee
        h2 Dedicatee: Dr. Steve Pettit
      .left-img
        img.img-fluid(src='img/pettit.jpg')
      .right-text
        p. 
          This year’s dedicatee is honored for his resolve to protect the health and safety of the campus community during the outbreak of COVID-19, his decisive leadership in opening the campus for in-person classes and his wisdom in successfully navigating the University through the unprecedented challenges brought by the global pandemic.
        p. 
          The oldest of four children, Steve Pettit was born in Georgia and grew up in South Carolina. He attended The Citadel, earning a BS in Business Administration. Responding to God’s call to the ministry, he earned an MA in Pastoral Studies from Bob Jones University.
        p. 
          For 29 years, Dr. Pettit served as president of the Steve Pettit Evangelistic Association, conducting over 800 campaigns and preaching in over 21 countries. He was camp director of Northland Camp and Conference Center and assistant pastor for a youth ministry in Michigan.
        p. 
          Steve Pettit was named the fifth president of Bob Jones University on May 8, 2014. That same year, The Citadel named him a Distinguished Citadel Alumnus, the 142nd alumnus given that honor since the college was founded in 1842. Today he chairs the Board of the BJU Education Group and serves on the Boards of The Wilds Camp and Conference Center and BJU.
        p. 
          As COVID-19 began to spread, Dr. Pettit announced on March 12 on-campus classes would end the following day, and BJU would pivot to online for the remainder of the semester. Because of his concern that students stay engaged and finish the semester successfully, he aggressively communicated with the students, livestreaming chapel, hosting podcasts and creating videos. On “Commencement Day” he virtually conferred degrees and announced campus would open for in-person classes in August.
        p. 
          Dr. Pettit immediately established a task force to thoroughly plan for a fall opening. He led in forming campus health protocols, establishing Student Health Services, converting two floors of a residence hall into isolation rooms, launching a COVID-19 Emergency Relief Grant to help students financially and adjusting first and second semester schedules to mitigate students bringing the virus to campus. He established a second task force to daily monitor campus and community status and adjust protocols as conditions changed.
        p. 
          For his courage, dedication to fulfilling the mission of BJU and great love for students, faculty and staff, we are honored to dedicate the 2021 Vintage to our beloved President, Dr. Steve Pettit.

      .heading.accomplish
        h2 Accomplishments
      #accomplish-mobile
        .accomplishment 
          .number 1
          p BJU was granted regional accreditation by the Southern Association of Colleges and Schools Commission on Colleges June 16, 2016.
        .accomplishment 
          .number 2
          p Launched the School of Health Professions effective fall 2018 and led the renovation of the Mack Building to house the new School which is the fastest growing School in the University.
        .accomplishment 
          .number 3
          p Launched the School for Continuing, Online and Professional Education (SCOPE) to serve non-traditional students and opened their offices at University Center in Greenville.
        .accomplishment 
          .number 4
          p Achieved tax exemption for Bob Jones University in 2017.
        .accomplishment 
          .number 5
          p Established a Student Care Center which provides confidential counseling to students struggling with a variety of issues.
        .accomplishment 
          .number 6
          p Created a new position of vice president for student development and discipleship to update student life policies and strengthen student leadership and student organizations on campus.
        .accomplishment 
          .number 7
          p In 2018, entered crosstown partnerships with Furman University and Clemson University, giving BJU students opportunities to participate in Army and Air Force ROTC.
        .accomplishment 
          .number 8
          p Strengthened chapel by establishing a Christian living theme and a doctrinal theme each semester and tying discipleship groups to the Christian living theme.
        .accomplishment 
          .number 9
          p Established freshmen halls to create a greater community among first-year students and help them more easily adapt to college life.
        .accomplishment 
          .number 10
          p Opened the Center for Global Opportunities to coordinate ministry and community service outreach opportunities.
        .accomplishment 
          .number 11
          p Added eight new intercollegiate sports and led the process for provisional membership in NCAA DIII.
    
      a.goback(href='index.html') back to home
          