extends base

block styles
  link(rel='stylesheet', href='css/pages/index.css')

block scripts
  script(src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js')
  script(src='js/particles.js')

block content
  .jumbotron#particles-js
    h1 POWER
  main
    .heading
      h2 POWER BEYOND MEASURE

    #theme.section.container-custom
      p.
        <span>Power.</span> The word permeates our vocabulary, suggesting everything from power suits and power naps to power brokers and power plays. Everyone wants to feel powerful, to have control over their own lives and even others. However, the truth is that no matter how much power a person gains, it will never be quite enough. Human power can never compare to the inscrutable power of God. He is the Almighty God, Creator of heaven and earth, of all things visible and invisible. His power transcends the physical world for He is omnipotent, infinite, and eternal. His power is beyond measure.
      p.
        Consider the Creation account in Genesis 1. God created all things by Jesus Christ, who spoke everything into existence. After the Fall in Genesis 3, mankind relinquished perfection and deteriorated into sin and depravity. God then exercised His power by sending a worldwide flood to destroy everything but Noah and his family. After the flood, God commanded them to multiply and fill the whole earth, but Noah’s descendants disobeyed these orders. In response, God forced division among them by diversifying languages at the Tower of Babel. When men thought they had the power to determine their own future, God’s power and plans proved far greater.
      p.
        In the book of Job, God allowed Satan to take away Job’s health, riches and family. Job yearned for an explanation of why these things were happening to him, and while his friends offered several reasons for his suffering, they all came up short. God finally answers Job’s cries in an awe-inspiring passage comparing His capabilities to Job’s. Job could not fathom the creation of the world. He could not control the oceans. He could not tell the sun and moon to rise. He could not cause rain to fall or water to freeze. Only God possesses this power. Humbled by God’s answer, Job repents, admitting that he had “uttered what [he] did not understand, things to wonderful for [him], which [he] did not know.”
      p.
        Many other examples of God’s immeasurable power abound throughout the Old and New Testaments. He determined the fates of nations in Jeremiah. He brought down the walls of Jericho. Through God’s enabling, Samson destroyed the Philistine lords, David killed Goliath, and the disciples were filled with the Holy Spirit at Pentecost. Perhaps the greatest example of His power is revealed in His Son Jesus Christ. Because of His sacrifice, we now have the opportunity to come before the throne of an Almighty God in repentance and faith to become His children. The power of Christ’s blood to save us from our sins should make us stop and consider the power of His eternal love.
        It is impossible for individuals to predict God’s purposes and plans for themselves, let alone the world. We must trust that He is in control over all circumstances. His power is infinite, eternal, and unlimited. His ways are inscrutable, and His power is beyond measure.
      a.readmore(href='theme.html') read more
    
    #dedicatee.section
      .left-img
        img.img-fluid(src='img/pettit.jpg')
      .alt-heading
        h2 Dedicatee: Dr. Steve Pettit
      .right-text
        p. 
          This year’s dedicatee is honored for his resolve to protect the health and safety of the campus community during the outbreak of COVID-19, his decisive leadership in opening the campus for in-person classes and his wisdom in successfully navigating the University through the unprecedented challenges brought by the global pandemic.
        p. 
          The oldest of four children, Steve Pettit was born in Georgia and grew up in South Carolina. He attended The Citadel, earning a BS in Business Administration. Responding to God’s call to the ministry, he earned an MA in Pastoral Studies from Bob Jones University.
        p. 
          For 29 years, Dr. Pettit served as president of the Steve Pettit Evangelistic Association, conducting over 800 campaigns and preaching in over 21 countries. He was camp director of Northland Camp and Conference Center and assistant pastor for a youth ministry in Michigan.
        p. 
          Steve Pettit was named the fifth president of Bob Jones University on May 8, 2014. That same year, The Citadel named him a Distinguished Citadel Alumnus, the 142nd alumnus given that honor since the college was founded in 1842. Today he chairs the Board of the BJU Education Group and serves on the Boards of The Wilds Camp and Conference Center and BJU.
        p. 
          As COVID-19 began to spread, Dr. Pettit announced on March 12 on-campus classes would end the following day, and BJU would pivot to online for the remainder of the semester. Because of his concern that students stay engaged and finish the semester successfully, he aggressively communicated with the students, livestreaming chapel, hosting podcasts and creating videos. On “Commencement Day” he virtually conferred degrees and announced campus would open for in-person classes in August.
        p. 
          Dr. Pettit immediately established a task force to thoroughly plan for a fall opening. He led in forming campus health protocols, establishing Student Health Services, converting two floors of a residence hall into isolation rooms, launching a COVID-19 Emergency Relief Grant to help students financially and adjusting first and second semester schedules to mitigate students bringing the virus to campus. He established a second task force to daily monitor campus and community status and adjust protocols as conditions changed.
        p. 
          For his courage, dedication to fulfilling the mission of BJU and great love for students, faculty and staff, we are honored to dedicate the 2021 Vintage to our beloved President, Dr. Steve Pettit.
      a.readmore(href='dedicatee.html') read more

    .heading.subheading
      h2 ACCOMPLISHMENTS

    #accomplishments.section 
      .columns
        .left
          .number-box
            .picture
              img(src='img/accomplishments/1-min.jpg')
            .caption
              p BJU was granted regional accreditation by the Southern Association of Colleges and Schools Commission on Colleges June 16, 2016.
              .number 1
          .number-box
            .picture
              img(src='img/accomplishments/scope-min.jpg')
            .caption
              p Launched the School for Continuing, Online and Professional Education (SCOPE) to serve non-traditional students and opened their offices at University Center in Greenville.
              .number 3
          .number-box
            .picture
              img(src='img/accomplishments/care-min.jpg')
            .caption
              p Established a Student Care Center which provides confidential counseling to students struggling with a variety of issues.
              .number 5
          .number-box
            .picture
              img(src='img/accomplishments/rotc-min.jpg')
            .caption
              p In 2018, entered crosstown partnerships with Furman University and Clemson University, giving BJU students opportunities to participate in Army and Air Force ROTC.
              .number 7
          .number-box
            .picture
              img(src='img/accomplishments/move-min.jpg')
            .caption
              p Established freshmen halls to create a greater community among first-year students and help them more easily adapt to college life.
              .number 9
          .number-box
            .picture
              img(src='img/accomplishments/bruins-min.jpg') 
            .caption
              p Added eight new intercollegiate sports and led the process for provisional membership in NCAA DIII.
              .number 11
        .lines
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
          .line
          .line.line-sm 
        .right
          .number-box
            .picture
              img(src='img/accomplishments/nurse-min.jpg')
            .caption
              .number 2
              p Launched the School of Health Professions effective fall 2018 and led the renovation of the Mack Building to house the new School which is the fastest growing School in the University.
          .number-box
            .picture
              img(src='img/accomplishments/4-min.jpg')
            .caption
              .number 4
              p Achieved tax exemption for Bob Jones University in 2017.
          .number-box
            .picture
              img(src='img/accomplishments/benson-min.jpg')
            .caption
              .number 6
              p Created a new position of vice president for student development and discipleship to update student life policies and strengthen student leadership and student organizations on campus.
          .number-box
            .picture
              img(src='img/accomplishments/chapel-min.jpg')
            .caption
              .number 8
              p Strengthened chapel by establishing a Christian living theme and a doctrinal theme each semester and tying discipleship groups to the Christian living theme.
          .number-box
            .picture
              img(src='img/accomplishments/missions-min.jpg')
            .caption
              .number 10
              p Opened the Center for Global Opportunities to coordinate ministry and community service outreach opportunities.
              
    
      