extends base

block styles
  link(rel='stylesheet', href='css/pages/index.css')
  link(rel='stylesheet', href='css/pages/theme.css')

block scripts
  script(src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js')
  script(src='js/particles.js')

block content
  .jumbotron#particles-js
    h1 POWER
  main
    .heading
      h2 POWER BEYOND MEASURE

    #theme.section.container-custom
      p.
        <span>Power.</span> The word permeates our vocabulary, suggesting everything from power suits and power naps to power brokers and power plays. Everyone wants to feel powerful, to have control over their own lives and even others. However, the truth is that no matter how much power a person gains, it will never be quite enough. Human power can never compare to the inscrutable power of God. He is the Almighty God, Creator of heaven and earth, of all things visible and invisible. His power transcends the physical world for He is omnipotent, infinite, and eternal. His power is beyond measure.
      p.
        Consider the Creation account in Genesis 1. God created all things by Jesus Christ, who spoke everything into existence. After the Fall in Genesis 3, mankind relinquished perfection and deteriorated into sin and depravity. God then exercised His power by sending a worldwide flood to destroy everything but Noah and his family. After the flood, God commanded them to multiply and fill the whole earth, but Noah’s descendants disobeyed these orders. In response, God forced division among them by diversifying languages at the Tower of Babel. When men thought they had the power to determine their own future, God’s power and plans proved far greater.
      p.
        In the book of Job, God allowed Satan to take away Job’s health, riches and family. Job yearned for an explanation of why these things were happening to him, and while his friends offered several reasons for his suffering, they all came up short. God finally answers Job’s cries in an awe-inspiring passage comparing His capabilities to Job’s. Job could not fathom the creation of the world. He could not control the oceans. He could not tell the sun and moon to rise. He could not cause rain to fall or water to freeze. Only God possesses this power. Humbled by God’s answer, Job repents, admitting that he had “uttered what [he] did not understand, things to wonderful for [him], which [he] did not know.”
      p.
        Many other examples of God’s immeasurable power abound throughout the Old and New Testaments. He determined the fates of nations in Jeremiah. He brought down the walls of Jericho. Through God’s enabling, Samson destroyed the Philistine lords, David killed Goliath, and the disciples were filled with the Holy Spirit at Pentecost. Perhaps the greatest example of His power is revealed in His Son Jesus Christ. Because of His sacrifice, we now have the opportunity to come before the throne of an Almighty God in repentance and faith to become His children. The power of Christ’s blood to save us from our sins should make us stop and consider the power of His eternal love.
        It is impossible for individuals to predict God’s purposes and plans for themselves, let alone the world. We must trust that He is in control over all circumstances. His power is infinite, eternal, and unlimited. His ways are inscrutable, and His power is beyond measure.
      a.goback(href='index.html') back to home